@import url('https://fonts.googleapis.com/css?family=Montserrat');



/*GLOBAL SECTION*/
.text-selected {
   color: #18cfab;
}

.container {
   max-width: 1160px;
   margin: 0 auto;
}


.section-title {

   color: #4e4e4e;
   font-family: 'Montserrat', sans-serif;
   font-size: 36px;
   line-height: 40px;
   text-align: center;
   display: block;
   margin-bottom: 70px;
}

.section-title::after {
   content: "";
   width: 76px;
   height: 1px;
   background-color: #18cfab;
   margin: 0 auto;
   display: block;
   margin-top: 41px;

}

.section-title::before {
   content: "";
   width: 76px;
   height: 0.5px;
   background-color: #18cfab;
   margin: 0 auto;
   display: block;
   position: relative;
   top: 91px;
   left: 14px;


}


/*HEADER SECTION*/
.header {
   background-image: url("../image/Sections background/section-1(header).jpg");
   background-color: rgba(67, 65, 56, 0.6);
   background-blend-mode: multiply;
   height: 145vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;

}

.head-menu {

   background-color: rgba(73, 71, 63, 0.6);
   height: 120px;
   display: flex;
   align-items: center;
   justify-content: center;


}

.main-logo {
   position: relative;
   left: 80px;

}


.main-logo {
   display: flex;
   align-items: center;
   height: 120px;
   text-decoration: none;
}

.main-logo-item {
   background-color: #18cfab;
   display: block;
   position: relative;
   font-family: Montserrat, sans-serif;
   color: #ffffff;
   font-size: 40px;
   font-weight: 700;
   padding: 0px 16px 0px 16px;
   text-decoration: none;
}

.main-logo-item::before {
   content: "";
   position: absolute;
   top: -16px;
   left: 0;
   height: 0;
   width: 0;
   border-bottom: 16px solid #18cfab;
   border-left: 32px solid transparent;
   border-right: 32px solid transparent;
}

.main-logo-item::after {
   content: "";
   position: absolute;
   top: 40px;
   left: 0;
   height: 0;
   width: 0;
   border-top: 16px solid #18cfab;
   border-left: 32px solid transparent;
   border-right: 32px solid transparent;
}

.main-logo-text2 {
   display: inline-block;
   font-family: Montserrat, sans-serif;
   color: #18cfab;
   font-size: 31.96px;
   font-weight: 700;
   line-height: 31px;
   text-align: left;
}

.main-logo-text1 {
   font-family: Montserrat, sans-serif;
   color: #ffffff;
   font-size: 31.96px;
   font-weight: 400;
   line-height: 31px;
   text-align: left;
   padding-left: 8px;
}

.main-menu {
   margin-left: 500px;
}

.main-menu-item {
   text-decoration: none;
   margin-right: 10px;
   font-family: 'Montserrat', sans-serif;
   font-size: 13px;
   font-weight: 700;
   line-height: 42px;
   text-transform: uppercase;
   color: #b8b8b8;
   transition: 0.5s;
   position: relative;
}

.main-menu-item::after {
   content: '';
   background-color: transparent;
   width: 100%;
   height: 2px;
   position: absolute;
   top: 67px;
   left: 0px;
}

.main-menu-item:hover::after {
   background-color: #18cfab;
   transition: 0.5s;
}

.main-menu-item:hover {
   color: #18cfab;
   transition: 1s;

}

.main-menu-item(:not):hover {
   color: #b8b8b8;
   transition: 0.4;
}

.main-search {
   font-size: 15px;
   color: #bbbbbb;
   cursor: pointer;
   transition: 0.5s;
}

.main-search:hover {
   color: #18cfab;
}

.main-search(:not):hover {
   color: #bbbbbb;
   transition: 0.5s;
}

/*TITLE SECTION*/

.title {
   text-align: center;
   margin-top: 246px;
   color: #fff;
}

.title-slogan {
   font-family: 'Montserrat', sans-serif;
   font-size: 35px;
   font-weight: 700;
   line-height: 9.53px;
   text-transform: uppercase;
   margin-bottom: 45px;

}

.main-title {
   font-family: 'Montserrat', sans-serif;
   font-size: 79px;
   font-weight: 700;
   line-height: 84.24px;
   text-transform: uppercase;
}

.slogan {

   color: #d4d4d4;
   font-family: 'Montserrat', sans-serif;
   font-size: 34px;
   font-weight: 300;
   line-height: 84.24px;
   text-transform: capitalize;
}


/*HEADER BUTTON SECTION*/
.main-buttons {
   text-align: center;
   margin-top: 142px;



}

.main-btn-item {
   text-decoration: none;
   text-transform: uppercase;
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-size: 13px;
   font-weight: 700;
   line-height: 31.83px;
   border-top: 4px solid #fff;
   padding: 20px 32px;
   border-radius: 6px;

}

.left-main-btn {
   background-color: #18cfab;
   margin-right: 28px;
   transition: 0.5s;

}

.right-main-btn {
   background-color: #00cbf6;
   transition: 0.5s;
}

.left-main-btn:hover {
   background-color: #21a48a;
   border-top: 4px solid #d5d5d5;

}

.right-main-btn:hover {
   background-color: #029ebf;
   border-top: 4px solid #d5d5d5;

}


.left-main-btn(:not):hover {
   background-color: #18cfab;
   transition: 0.5s;

}

.right-main-btn(:not):hover {
   background-color: #00cbf6;



}


/*PRODUCT FEATURES SECTION*/

.product-features {
   display: flex;
   justify-content: center;
   overflow: hidden;

}


.product-services-odd {
   background-color: #1c2a33;
   border-top: 7px solid #18cfab;
   height: 374px;
   width: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.product-services-odd {
   align-self: center;
}


.services-odd-text {
   color: #18cfab;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   margin-top: 48px;
}


.product-services-even {
   background-color: #18cfab;
   border-top: 7px solid #fff;
   height: 374px;
   width: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.services-even-text {
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   margin-top: 65px;
}


/*SERVICE SECTION*/

.servises {
   margin-top: 82px;

}


.servise-menu {
   margin-top: 70px;
   display: flex;
   justify-content: center;
   align-items: center;


}

.servise-menu-item {
   font-family: Montserrat, sans-serif;
   color: #717171;
   font-size: 16px;
   text-decoration: none;
   padding-top: 27px;
   padding-bottom: 30px;
   width: 193px;
   box-sizing: border-box;
   text-align: center;
   border: 1px solid #eeeeef;
   transition: 0.5s;
   cursor: pointer;

}



.servise-menu-item:hover {
   position: relative;
   background-color: #18cfab;
   color: #fff;
   border-top: 1px solid #18cfab;
   border-bottom: 1px solid #18cfab;
}

.servise-menu-active {
   position: relative;
   background-color: #18cfab;
   color: #fff;
   border-top: 1px solid #18cfab;
   border-bottom: 1px solid #18cfab;
}

.servise-menu-active::after {
   content: "";
   position: absolute;
   bottom: -10px;
   left: 85px;
   width: 0;
   height: 0;
   border-top: 10px solid #18cfab;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
}

.servise-menu-item:hover::after {
   content: "";
   position: absolute;
   bottom: -10px;
   left: 85px;
   width: 0;
   height: 0;
   border-top: 10px solid #18cfab;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
}


.servise-menu-item(:not):hover {
   color: #717171;
   transition: 0.5s;
}

.servises-description {
   padding-top: 25px;
   margin: 0 auto;
   display: none;
}


.servises-description.active {
   display: flex;
}


.menu-link-viseted {
   background-color: #18cfab;
   color: #ffffff;
}

.servises-description-image {
   border: 1px solid #ae9fa0;
   width: 194px;
   height: 139px;
   position: relative;
   top: 6px;
}

.servises-description-text {
   display: inline-block;
   text-align: justify;
   padding-left: 20px;
   color: #777777;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 300;
   line-height: 25px;
   align-self: flex-start;
}



/*INSTALL NOW SECTION*/

.install-now-section {
   margin-top: 103px;
   margin-bottom: 97px;
   background-image: url('../image/Sections background/section-2.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-color: rgba(67, 65, 56, 0.7);
   background-blend-mode: multiply;
   height: 474px;
}

.install-section-title {

   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
   font-weight: 700;
   line-height: 40.46px;
   text-transform: uppercase;
   text-align: center;
   padding-top: 126px;
}

.install-section-subtitle {

   color: #d8d8d8;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   line-height: 40px;
   text-align: center;
   padding-top: 35px;
   margin-bottom: 76px;
}



.install-section-btn {
   text-decoration: none;
   text-transform: uppercase;
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-size: 13px;
   font-weight: 700;
   line-height: 31.83px;
   border-top: 4px solid #fff;
   padding: 26px 25px;
   border-radius: 3px;
   background-color: #18cfab;
   transition: 0.5s;

}

.install-button {
   text-align: center;
}

.install-section-btn {
   border-radius: 6px;

}

.install-section-btn:hover {
   background-color: #21a48a;
   border-top: 4px solid #d5d5d5;

}



.install-section-btn(:not):hover {
   background-color: #18cfab;
   transition: 0.5s;

}



/*OUR WORK SECTION*/


.work-menu {

   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 71px;

}

.work-image-link {
   text-decoration: none;
   margin-right: 0;
}


.work-menu-item {
   text-decoration: none;
   color: #717171;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   line-height: 39.02px;
   padding-right: 80px;
   padding: 10px 25px;
   border: 0.5px solid #eeeeef;
   transition: 0.5s;
   cursor: pointer;


}


.work-menu-item:last-child {
   padding-right: 21px;
}

.work-menu-active-item {
   color: #18cfab;
   border-top: 1px solid #18cfab;

}

.work-menu-item:hover {
   color: #18cfab;
   border-top: 1px solid #18cfab;

}

.work-link-visited {
   color: #18cfab;
   border-top: 1px solid #18cfab;
}


.work-images {

   text-align: center;
}

.work-image-item {
   width: 284px;
   height: 206px;
   margin-right: -4px;
   margin-bottom: -3px;
   transition: 0.5s;
   cursor: pointer;

}


.img-info-link {
   border: 1px solid #18cfab;
   border-radius: 50px;
   padding: 13px;
   cursor: pointer;
   position: relative;
   right: 25px;
   top: 15px;
}

.img-info-search {
   background-color: #18cfab;
   color: #fff;
   border: 3px solid transparent;
   border-radius: 50px;
   padding: 11px;
   cursor: pointer;
   position: relative;
   left: 25px;
   bottom: 29px;
}

.work-img-description {
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 700;
   line-height: 24.87px;
   text-align: center;
   text-decoration: none;

}

.work-img-subtitle {
   color: #8a8a8a;
   font-family: 'Montserrat', sans-serif;
   font-size: 12px;
   font-weight: 300;
   line-height: 24.87px;
   text-align: center;
   text-decoration: none;

}

.img-button {
   text-align: center;
   margin-bottom: 184px;
   margin-top: 71px;


}

.load-img-btn {
   text-decoration: none;
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 700;
   line-height: 42px;
   text-transform: uppercase;
   background-color: #18cfab;
   padding: 25px 21px;
   border-radius: 3px;
   cursor: pointer;



}

.load-img-text {
   margin-left: 16px;
}

.animate-block {
   width: 70px;
   height: 70px;
   position: absolute;
   background: #18cfab;
   animation: anim 2.7s ease infinite;

}

@keyframes anim {
   0% {
      transform: scale(0.1) rotate(0deg);
   }

   25% {
      transform: scale(1) rotate(180deg);
   }

   50% {
      transform: scale(0.1) rotate(360deg);
   }

   75% {
      transform: scale(1) rotate(180deg);
   }

   100% {
      transform: scale(0.1) rotate(0deg);
   }
}




.work-img-info {

   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
   border-top: 2px solid #18cfab;
   background-color: #fff;
   box-sizing: border-box;
   width: 284px;
   height: 206px;
   top: 0;
   left: 0;
   padding: 0 26px;
   opacity: 0;
   transition: 0.4s;
   z-index: 999;
}


.animation-container {

   position: relative;
   cursor: pointer;
   display: inline-block;

}

.animation-container:hover .work-img-info {

   animation: work-info-anim 2s;
   opacity: 1;

}

@keyframes work-info-anim {

   from {
      top: -100%;
      opacity: 0;
   }

   50% {
      top: 0;
      opacity: 0.5;
   }

   to {
      bottom: 0;

   }



}

.animation-container:not(:hover) .work-img-info {
   opacity: 0;
   transition: 0.4s;

}


/*NEWS SECTION*/


.news {
   margin-bottom: 132px;
}



.news-section-title {

   color: #4e4e4e;
   font-family: 'Montserrat', sans-serif;
   font-size: 36px;
   line-height: 40px;
   text-align: center;
   display: block;
   margin-bottom: 70px;
}

.news-section-title::after {
   content: "";
   width: 76px;
   height: 1px;
   background-color: #18cfab;
   margin: 0 auto;
   display: block;
   margin-top: 40px;
}

.news-section-title::before {
   content: "";
   width: 76px;
   height: 1px;
   background-color: #18cfab;
   margin: 0 auto;
   display: block;
   position: relative;
   top: 85px;
   left: 13px;


}


.news-articles {
   text-align: center;
}

.news-img-container {
   position: relative;
}

.news-article-item {
   padding-right: 20px;
   margin-bottom: 117px;
}

.news-article-link {
   text-decoration: none;
}

.news-article-link>div {
   display: inline-block;
   margin-bottom: 45px;
}

.news-publication-data {

   width: 65px;
   height: 65px;
   background-color: #203e38;
   z-index: 999;
   position: absolute;
   top: 0;
   right: 20px;
   text-decoration: none;
   transition: 0.5s;

}

.news-publication-data>div:last-child {
   margin-top: -30px;
}

.news-articles a:hover .news-publication-data {
   background-color: #18cfab;
}

.news-articles a(:not):hover .news-publication-data {
   background-color: #203e38;
   transition: 0.5s;
}

.news-publication-data>div {

   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   line-height: 25.33px;
   text-align: center;
   padding: 15px 20px;

}


.news-publication {
   padding-left: 10px;
   background: #f8fcfe;
   border: 1px solid #ebebeb;
   margin-top: -120px;
   color: #717171;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 38.97px;
   width: 251px;
   height: 72px;


}

.news-publication>p {
   text-align: left;
   transition: 0.5s;


}

.news-comments {
   position: relative;
   bottom: 12px;
   right: 15px;
   text-align: left;

}

.news-comments div {
   display: inline-block;
   color: #777777;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 300;
   line-height: 38.97px;
   margin-left: 15px;
}


.break-line:hover {
   text-decoration: underline;
}

.news-comments div:nth-child(2):hover {
   text-decoration: underline;
}


.news-articles a:hover .news-publication>p {
   color: #18cfab;
}

.news-articles a(:not):hover .news-publication>p {
   color: #203e38;
   transition: 0.5s;
}




/*REVIEW SECTION*/

.person-opinions {
   background-image: url('../image/Sections background/section-3.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-color: rgba(67, 65, 56, 0.7);
   background-blend-mode: multiply;
   height: 852px;
   text-align: center;
}




.review-title {
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-size: 36px;
   line-height: 40px;
   padding-top: 100px;
   text-align: center;
   display: block;
   margin-bottom: 70px;
}

.review-title::after {
   content: "";
   width: 76px;
   height: 1px;
   background-color: #18cfab;
   margin: 0 auto;
   display: block;
   margin-top: 40px;
}

.review-title::before {
   content: "";
   width: 76px;
   height: 1px;
   background-color: #18cfab;
   margin: 0 auto;
   display: block;
   position: relative;
   top: 85px;
   left: 13px;


}

.quotes-img {
   text-align: center;

}

.person-text {
   display: none;
   text-align: center;
}

.person-text.active {
   font-family: 'Montserrat', sans-serif;
   color: #bbbbbb;
   font-size: 16px;
   margin: 43px 0;
   display: block;
   font-weight: 300;
   line-height: 30px;

}

.person-name {
   display: none;
   text-align: center;
}

.person-name.active {
   font-family: 'Montserrat', sans-serif;
   color: #18cfab;
   font-size: 16px;
   font-weight: 700;
   display: block;
   text-align: center;
}

.person-profession {
   display: none;
   text-align: center;
}

.person-profession.active {
   font-family: 'Montserrat', sans-serif;
   color: #bbbbbb;
   font-size: 13px;
   font-weight: 300;
   margin: 15px 0 38px;
   display: block;

}

.slider-for {
   width: 149px;
   margin: 0 auto;
   border: 6px solid #074949;
   border-radius: 50%;
}

.person-photo-nav {
   border: 3px solid #074949;
   border-radius: 50%;
   margin: 0 20px;
   outline: none;
   cursor: pointer;
}

.slider-nav {
   position: relative;
   width: 450px;
   margin: 30px auto 0;
}

.person-photo-nav {
   margin-top: 40px;

}

.slick-prev:before,
.slick-next:before {
   border: 1px solid #fff;
   padding: 2px 9px 8px;
}

.person-photo-nav.slick-current {
   position: relative;
   bottom: 18px;
   border: 3px solid #1fdab5;
}

.slick-list.draggable:nth-child(2) {
   height: 150px;
}

.person-photo {
   border: 3px solid #1fdab5;
   border-radius: 50%;
   outline: none;
}

.slider {
   padding-bottom: 104px;
}


/*FOOTER SECTION*/

.footer {
   height: 108px;
   background-color: #22353f;
   margin-bottom: 15px;
   margin-top: 82px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-text {
   text-transform: capitalize;
   color: #aeaeae;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 300;
   line-height: 26px;
}


.footer-link {
   cursor: pointer;
}

.footer-link:hover {
   text-decoration: underline;
}